.clients {
  background-color: var(--secondary-bg-color);

  text-align: center;
}

.clients__title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  @include font(36px, 700, 1.166);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--primary-link-color);
  border-radius: 4px;

  color: var(--primary-link-color);

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__list-icon {
  fill: currentColor;
}
