.logo {
  color: rgba(0, 0, 0, 1);
  font-family: var(--secondary-font);

  @include font(26px, 700, 1.19);
  letter-spacing: 0.03em;

  .header & {
    margin-right: 92px;
  }

  .footer & {
    display: block;
    margin-bottom: 25px;

    color: var(--tertiary-text-color);
  }
}

.logo__web {
  color: var(--accent-color);
}
