*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 80px;

  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
a,
img,
button,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}
